.hang {
    padding-top: 60px;
    padding-bottom: 60px;
}


.hang-list__title {
    margin-bottom: 10px;

    @include font(14px, 16px);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}

.hang-list__text {
    @include font(14px, 24px);
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #757575;
}

.hang-list__item-icon-wrapper {
    @extend %flex-centering;
    max-width: 450px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

@media screen and (max-width: 767px) {
    .hang-list__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {
    .hang-list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }

    .hang-list__item {
        flex-basis: calc((100% - 30px) / 2);
    }

    .hang-list__title {
        text-align: start;
    }
}

@media screen and (min-width: 1200px) {
    .hang {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
    .hang-list__item {
        flex-basis: calc((100% - 90px) / 4);
    }
}

