.hero {
    max-width: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;
    background-color: #C4C4C4;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(.././images/mobile/hero-mob/hero-mob-img.jpg);
    background-size: cover;
    background-position: center;
}

.hero__title {
    margin-bottom: 30px;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;

    @include font(26px, 42px);
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.hero__container {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;

        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(.././images/tablet/hero-tablet/hero-tablet-img.jpg);
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
    
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(.././images/desktop/hero-desk/hero-desk-img.jpg);
    }

    .hero__title {
        max-width: 696px;
    
        @include font(44px, 60px);
    }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) and (max-width: 767px),
    (min-resolution: 2dppx) and (max-width: 767px) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(.././images/mobile/hero-mob/hero-mob-img@2x.jpg);
        }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(.././images/tablet/hero-tablet/hero-tablet-img@2x.jpg);
        }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) and (min-width: 1200px),
    (min-resolution: 2dppx) and (min-width: 1200px) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(.././images/desktop/hero-desk/hero-desk-img@2x.jpg);
        }
}












