@media screen and (max-width: 767px) {
    .menu, .contact-list {
        display: none;
    }
}

.page-header {
    border-bottom: 1px solid #ECECEC;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__text {
    color: var(--accent-color);
}

@media screen and (min-width: 768px) {
    .header__logo {
        margin-right: 88px;
    }
    
    .menu__link {
        position: relative;
    
         @include font (14px, 16px);
        letter-spacing: 0.02em;
        color: #000000;
    
        transition: color var(--transition-dur-and-func);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
    
    .menu__link_current {
        padding-bottom: 32px;
    
        color: var(--accent-color);
    }
    
    .menu__link_current::after {
        position: absolute;
        bottom: 0;
    
        display: block;
        content: "";
        width: 100%;
        height: 4px;
    
        border-radius: 2px;
        background-color: var(--accent-color);
    }
    
    .contact-list__link {
        display: flex;
        align-items: center;
        @include font(12px, 14px);
        letter-spacing: 0.02em;
        color: #757575;
    
        transition: color var(--transition-dur-and-func);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
    
    .page-nav {
        display: flex;
        align-items: center;
    }
    
    .menu {
        display: flex;
    }
    
  
    
    .menu__item:not(:last-child) {
        margin-right: 50px;
    }
    

    
    .contact-list__logo {
        display: block;
        margin-right: 8px;
        fill: currentColor;
    }
    
    .page-header {
        border-bottom: 1px solid #ECECEC;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .contact-list__item:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .header__logo {
        margin-right: 93px;
    }

    .contact-list {
        display: flex;
    }
    
    .contact-list-logo {
        margin-right: 10px;
    }
    
    .contact-list__item:not(:last-child) {
        margin-right: 50px;
    }
    
    .contact-list__link {
        @include font(14px, 16px);
    }
    
}
