body {
    color: var(--primary-font-color);
    font-family: var(--primary-font);
    font-weight: var(--primary-weight-font);
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}
