.btn {
    padding: 10px 32px;
    border-radius: 4px;

    background-color: var(--accent-color);
    font-weight: 700;
    @include font(16px, 30px);
    letter-spacing: 0.06em;
    border: none;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
