.email-form__input {
    width: 100%;
    height: 50px;
    padding-left: 16px;
    color: #FFFFFF;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
    }
}

.email-form__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 29px;
}

.email-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 767px) {
    .email-form__input {
        width: 450px;
    }

    .email-form {
        flex-direction: column;
        align-items: center;
    }

    .form-wrapper {
        margin-top: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .email-form__input {
        width: 358px;
        margin-right: 12px;
        color: #FFFFFF;
    }
    
    .email-form__icon {
        margin-left: 10px;
    }
    
    .form-wrapper {
        margin-left: 93px;
        margin-top: 0;
    }

    .email-form {
        flex-direction: row;
    }
}

