.logo {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    @include font(26px, 31px);
    font-weight: 700;
    letter-spacing: 0.03em;

    @media screen and (max-width: 1199px) {
        @include font(24px, 28px);
    }
}