

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form__call {
    margin-bottom: 12px;

    text-align: center;
    @include font(20px, 30px);
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--primary-font-color);
}

.modal-form__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    transition: border-color var(--transition-dur-and-func);

    &:focus {
        border-color: var(--accent-color);
        outline: none;
    }
}

.modal-form__textarea {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    transition: border-color var(--transition-dur-and-func);

    &:focus {
        border-color: var(--accent-color);
        outline: none;
    }

    &::placeholder {
        @include font(14px, 16px);
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal-form__btn {
    align-self: center;
}

@media screen and (min-width: 1200px) {
    .modal-form__textarea::placeholder {
        @include font(12px, 14px);
    }
}

.modal-form__input-desc {
    display: block;

    @include font(12px, 14px);
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.modal-form__input-icon-wrapper {
    display: block;
    position: relative;
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill var(--transition-dur-and-func);
    
    .modal-form__input:focus + & {
        fill: var(--accent-color);
    }
}

.modal-form__field {
    margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
    .modal-form__call {
        @include font(20px, 23px);
    }
}








