.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color var(--transition-dur-and-func);
}

.social-list__link:hover,
.social-list__link:focus {
    background-color: var(--accent-color);
}

.social-list__icon {
    fill: #AFB1B8;

    transition: fill var(--transition-dur-and-func);
}